<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>fis-study</title>
    <link rel="stylesheet" type="text/css" href="../../Common/common.less">
    <link rel="stylesheet" type="text/css" href="./index.less">
    
    <script type="text/javascript" src="/Common/plugins/jquery-2.2.4.min.js"></script>
</head>

<body>
    <%- include('../../Parts/hello') %>
    <%
        for(var i=0;i<3;i++){
    %><h1>hello world</h1><%
        }
    %>
    <script type="text/javascript" src="./index.js"></script>
</body>

</html>