<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>fis-study</title>
    <link rel="stylesheet" type="text/css" href="../../Common/common.less">
    <link rel="stylesheet" type="text/css" href="./detail.less">
    
    <script type="text/javascript" src="/Common/plugins/jquery-2.2.4.min.js"></script>
</head>

<body>
    <div>
        <img src="../../Images/detail/beauty.jpg">
    </div>
    <script type="text/javascript" src="./detail.js"></script>
</body>

</html>