<nav class="ui-bar ui-bar-tab">
     <a class="ui-tab-item" href="/bangwoce/Mall/index.html?v=MSsZY" style="color: #F02F30;">
         <span class="ui-icon icon-home"></span>
         <span class="ui-tab-label">首页</span>
     </a>
     <a class="ui-tab-item" href="/bangwoce/Mall/card.html?v=MSsZY">
         <span class="ui-icon icon-category1"></span>
         <span class="ui-tab-label">分类</span>
     </a>
     <a class="ui-tab-item" href="/bangwoce/Mall/order.html?v=MSsZY">
         <span class="ui-icon icon-kefu"></span>
         <span class="ui-tab-label">客服</span>
     </a>
     <a class="ui-tab-item" href="/bangwoce/Mall/contact.html?v=MSsZY">
         <span class="ui-icon icon-gouwuchekong"></span>
         <span class="ui-tab-label ">购物车</span>
     </a>
     <a class="ui-tab-item" href="/bangwoce/Mall/contact.html?v=MSsZY">
         <span class="ui-icon icon-wode"></span>
         <span class="ui-tab-label ">我的</span>
     </a>
</nav>